body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background-color: #000;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
  font-family: Outfit, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #4169e1;
  font-weight: bold;
  margin-left: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 500;
}

*:focus {
  outline: 0;
}

* {
  word-wrap: break-word;
}

.logo {
  width: 35px;
  height: 35px;
}

.mt50 {
  margin-top: 50px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header {
  max-width: 1500px;
  width: 90%;
  padding: 20px 0;
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.navBox {
  display: flex;
  width: 100%;
  text-align: center;
}

.nav {
  display: flex;
  gap: 40px;
  /* margin: 0 auto; */
}

.navItem {
  cursor: pointer;
  width: max-content;
  display: flex;
  align-items: center;
  a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }
}

.cont {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}

.main {
  display: flex;
  height: 100%;
  grid-gap: 50px;
}

.main .row {
  /* flex: 2 1 auto; */
  position: relative;
}

.main .row.left {
  /* flex: 0 1 60vh; */
  flex: 6;
}

.main .row.right {
  /* flex: 1 1 40vh; */
  flex: 4;
}

.stsicon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  vertical-align: text-bottom;
}

.arrowicon {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
  float: right;
}

.copyicon {
  width: 14px;
  height: 14px;
  cursor: pointer;
  vertical-align: text-bottom;
  margin-left: 5px;
}

.deleteicon {
  width: 14px;
  height: 14px;
  cursor: pointer;
  vertical-align: text-bottom;
  float: right;
  margin-top: 3px;
  visibility: hidden;
}

.pendingicon {
  width: 14px;
  height: 14px;
  cursor: pointer;
  vertical-align: text-bottom;
  float: right;
  margin-top: 3px;
}

.ml20 {
  margin-left: 20px;
}

.flRbox {
  position: absolute;
  right: 0;
  margin-top: -50px;
}

.smTag {
  font-size: 12px;
  color: #575757;
}

.txnid {
  white-space: nowrap;
}

/* .listAddrBox {
  min-height: 450px;
  padding: 10px;
  border-radius: 4px;
  background: #0c0c0c;
  border: 1px solid #1e1e1e;
}
  */
/*
.listAddr {
  padding: 15px;
  background: #fff;
  color: #000;
  border-bottom: 1px solid #ddd;
} 
*/

.listAddrBox {
  min-height: 450px;
  padding: 10px 0px 10px 10px;
  border-radius: 4px;
  background: #0c0c0c;
  border: 1px solid #1e1e1e;
  overflow-y: scroll;
  height: 350px;
}

.listAddrBox_inn {
  overflow-y: scroll;

  height: 450px;
}
.listAddr {
  /* padding: 10px; */
  background: #fff;
  /* margin-bottom: 10px; */
  color: #000;
  border-bottom: 1px solid #ddd;
}

.list_inn {
  padding: 15px;
}

.listAddr:hover .deleteicon {
  visibility: visible;
}

.listAddr:first-child {
  /* background: #444; */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.listAddr:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.lbl {
  font-size: 12px;
  color: #333;
}

.counts {
  background: #fff;
  color: #333;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 12px;
}

.tagSM {
  font-size: 12px;
  background: #333;
  color: #fff;
  padding: 2px 5px;
  border-radius: 4px;
  margin-left: 30px;
}

.accountBox {
  display: flex;

  .navItem {
    margin-right: 12px;
  }
}

.balanceCont {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.balanceBox {
  background: #fff;
  padding: 15px;
  color: #000;
  border-radius: 4px;
  min-width: 140px;
  height: 70px;
}

.balanceBoxNil {
  background: #e1e1e1;
  padding: 15px;
  color: #000;
  border-radius: 4px;
  min-width: 140px;
  height: 100px;
  cursor: pointer;
}

.balance {
  font-size: 21px;
  font-weight: bold;
}

.balTicker {
  margin: 10px 0;
  font-size: 16px;
  text-transform: uppercase;
}

.tickerIcon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  border-radius: 50%;
}

.chainIcon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border-radius: 50%;
}

.addTypIcon {
  margin-left: -10px;
  width: 20px;
  vertical-align: middle;
  border-radius: 50%;
}

.txBox {
  padding: 0 10px 10px 10px;
  border-radius: 4px;
  min-height: 450px;
  background: #0c0c0c;
  border: 1px solid #1e1e1e;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}

th,
td {
  padding: 8px 20px;
  text-align: left;
}

th {
  color: #ccc;
  font-weight: 200;
}

td {
  background: #fff;
  color: #000;
  padding: 8px 8px 8px 20px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(2) td:last-child {
  border-top-right-radius: 4px;
}

tr:nth-child(2) td:first-child {
  border-top-left-radius: 4px;
}

tr:last-child td:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 4px;
}

tr:last-child td:first-child {
  border-bottom: 0;
  border-bottom-left-radius: 4px;
}

.inlBtn {
  text-align: center;
  font-weight: bold;
}

.fR {
  float: right;
}

.bLabelB {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
}

.addNetwork {
  margin-top: 8px;
  margin-right: 10px;
}

.rbtn {
  float: right;
  font-size: 12px;
  border: 1px solid #fff;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  white-space: nowrap;
}

.ribtn {
  float: right;
  font-size: 12px;
  border: 1px solid #fff;
  padding: 4px 8px 4px 24px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  position: relative;
}

.rbtnf {
  margin: 10px 0;
  color: #fff;
  background-color: royalblue;
  padding: 10px 8px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  min-width: 100px;
  cursor: pointer;
}

.rbtnlg {
  margin: 10px 0;
  color: #fff;
  background-color: royalblue;
  padding: 10px 8px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  width: 160px;
  margin: 20px auto;
  outline: none;
  border: none;
}

.btn-disabled {
  cursor: not-allowed;
}

.ribtn svg {
  position: absolute;
  left: 5px;
  top: 3px;
}

.checkboxContainer {
  box-sizing: border-box;
  margin: 20px auto;
  width: 240px;

  .checkboxLabel {
    /* width: 215px; */
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    font-size: 16px;
  }

  input {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: #4169e1;
  }

  a {
    font-size: 16px;
  }
}

.termsOfUseContainer,
.privacyPolicyContainer {
  box-sizing: border-box;
  max-width: 1200px;
  width: 70%;
  margin: auto;
  background-color: #fff;
  padding: 40px 60px;
  color: #000;
  ul {
    list-style-type: disc;
    margin-left: 32px;
  }
  @media screen and (max-width: 800px) {
    width: 100%;
    margin: auto;
    padding: 20px 40px;
  }
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  overflow: hidden;
}

.modalCont {
  width: 40%;
  min-height: 250px;
  position: relative;
  background: #000;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  top: 30%;
  transform: translateY(-30%);
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
}

.novr {
  overflow: hidden;
  height: 100vh;
}

.modalHead {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.modalInn {
  width: 60%;
  margin: 0 auto;
}

.wd70 {
  width: 70%;
}

.selectBox {
  position: relative;
  cursor: pointer;
}

.selectLbl {
  border: 1px solid #333;
  padding: 10px;
  border-radius: 4px;
  background: #fff;
  color: #000;
}

.selectList {
  border: 1px solid #333;
  border-top: 0;
  margin-top: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  position: absolute;
  width: 98%;
  margin-left: 2px;
  background: #fff;
  z-index: 1;
}

.selectLi {
  padding: 10px;
  cursor: pointer;
  color: #000;
}

.numPow {
  display: inline-block;
  font-size: 11px;
  vertical-align: super;
  color: #5b6672;
  font-weight: bold;
}

.depositBox {
  display: flex;
  grid-gap: 20px;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}

.depositAddr {
  margin: 20px 0;
  font-size: 14px;
  font-weight: bold;
}

.inputBox {
  position: relative;
  padding: 10px 0;
  border: 1px solid #000;
  background: #fff;
  color: #000;
  margin: 10px 0;
  border-radius: 4px;
}

.input {
  width: 95%;
  border: 0;
  border-radius: 4px;
  padding: 0px;
  margin: 0 auto;
  display: block;
  font-size: 15px;
}

.textArea {
  resize: none;
  width: 95%;
  height: 300px;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}

.bottFoot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bootFootlb {
  flex: 6 1;
  font-size: 14px;
}

.dsbl {
  background: silver;
  color: #333;
  cursor: default;
}

.inpSub {
  position: absolute;
  right: 40px;
  top: 8px;
  padding: 0 5px;
  border-right: 1px solid #ccc;
}

.maxBtn {
  position: absolute;
  right: 8px;
  top: 11px;
  font-size: 12px;
  color: royalblue;
  font-weight: bold;
  cursor: pointer;
}

.pr100 {
  padding-right: 100px;
}

.ulink {
  text-decoration: underline;
}

.flCap {
  text-transform: capitalize;
}

.loginCont {
  min-width: 220px;
  width: 30%;
  margin: 20% auto 0;
  text-align: center;
}

.nil {
  font-size: 15px;
  padding: 20px 20px;
}

.boxDep {
  font-size: 15px;
  text-align: center;
  margin-top: 35px;
  cursor: pointer;
}

.boxDep svg {
  vertical-align: middle;
}

.errDiv {
  color: #ff6347;
}

.succDiv {
  color: #23c44e;
}

.suspend {
  color: tomato;
  font-size: 12px;
  margin-left: 20px;
}

.spinner {
  width: 10px;
  margin: 0 auto;
  animation: loading-bar-spinner 400ms linear infinite;
}

.spinner .spinner-icon {
  width: 10px;
  height: 10px;
  border: solid 2px transparent;
  border-top-color: #000000 !important;
  border-left-color: #ffffff !important;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pagination {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0 0 0;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.pagination .li {
  margin: 0 5px;
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.nb {
  border: 0 !important;
}

.modalClose {
  float: right;
}

footer {
  text-align: center;
  margin: 20px 0 20px 0;
}

@media screen and (max-width: 1300px) {
  body {
    zoom: 0.8;
  }
}

@media screen and (max-width: 1150px) {
  body {
    zoom: 0.6;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    display: none;
  }

  .main {
    display: block !important;
  }

  .modalCont {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .txBox {
    zoom: 0.6;
  }

  .modalCont {
    zoom: 0.5;
  }

  .loginCont {
    margin: 30% auto 0;
  }

  .addNetwork {
    display: none;
  }

  .maxBtn {
    font-size: 10px;
  }

  .txBox {
    zoom: 0.8;
  }

  .modalInn {
    width: 85%;
  }
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cdcccf;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cdcccf;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  color: #333;
  padding: 10px;
}

.item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  padding: 10px 0;
}

.question span {
  font-size: 18px;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}

.question.active {
  color: #fff;
}

.icon {
  display: inline-block;
  transition: transform 0.4s ease-in-out;
}

.icon.rotated {
  transform: rotate(180deg);
  transition: transform 0.4s ease-in-out;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  color: #fff;
  font-size: 16px;
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.answer.expanded {
  max-height: 200px; /* Set a sensible default */
}

.answer div {
  padding: 10px 0;
}

.downArrow {
  color: #ffffff !important;
}

.beta_text {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 60px;
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.copyBox {
  position: relative;
  display: inline-block;
}

.copyIcon {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background: #333333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10000;
}
